:root {
  --call-to-action-color: #3882f6;
  --dark-color: #1f2937;
  --extra-bold-weight: 900;
  --grey-color: #e5e7eb;
  --off-white-color: #f9faf8;
  --light-weight: 300;
  --page-padding: 10rem;
}

* {
  /* border: 1px solid red; */
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

header,
.hero,
footer {
  background-color: var(--dark-color);
}

header {
  display: flex;
  padding: 1rem var(--page-padding);
}

header .logo-text {
  font-size: 24px;
  color: var(--off-white-color);
  flex: 1;
}

header .nav-links {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

header .nav-links a {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  padding: 5rem var(--page-padding);
}

.hero-text {
  width: 40%;
  padding-right: 1.5em;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  color: #fff;
  width: 60%;
  height: auto;
}

.hero-text-main {
  font-size: 48px;
  font-weight: var(--extra-bold-weight);
  color: var(--off-white-color);
  margin: 0;
}

.hero-text-secondary {
  margin: 0.5em 0;
}

.hero button {
  border: none;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 4px;
  font-size: 1.0125em;
}

header .nav-links a,
.hero-text-secondary {
  font-size: 18px;
  color: var(--grey-color);
}

.hero button,
.action-info {
  background-color: var(--call-to-action-color);
}

.information {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 var(--page-padding) 7.5rem var(--page-padding);
}

.information h2 {
  font-size: 36px;
  font-weight: var(--extra-bold-weight);
  color: var(--dark-color);
}

.illustration-list {
  display: flex;
  justify-content: center;
  padding: 0;
}

.illustration {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 250px;
}

.illustration img {
  display: inline-block;
  width: 150px;
  height: 150px;
  border: 2px solid blue;
  border-radius: 8px;
  margin-bottom: 1em;
}

.illustration figcaption {
  width: 80%;
  color: #666;
}

.quote {
  background-color: var(--grey-color);
}

.quote blockquote {
  font-size: 36px;
  font-weight: var(--light-weight);
  font-style: italic;
  color: var(--dark-color);
}

footer {
  color: var(--off-white-color);
}
